@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$font-openSans: 'Open Sans', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9dadf;
}

.timeline-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 868px;
    width: 821px;
    background-color: #d9dadf;
    margin: 20px;
    & .timeline-header{
        margin-bottom: 30px;
        & .timeline-title{
            font-family: $font-openSans;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            color: rgba(36, 46, 76, 1);
            text-align: center;
            margin-bottom: 10px;
        }
        & .timeline-desc{
            max-width: 379px;
            text-align: center;
            font-family: $font-openSans;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: rgba(36, 46, 76, 1);
        } 
    }
    & .timeline{
        display: flex;
        & .column-card-1{
            & .card-1{
                position: relative;
                width: 385px;
                height: 148px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                padding: 6px 13px;
                margin-top: 216px;
                margin-bottom: 220px;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
                & .title-desc{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    & .card-1-title{
                        height: 32px;
                        padding: 6px 10px;
                        background-color: #FFF1F0;
                        border-radius: 3px;
                        color: rgba(31, 31, 31, 1);
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & .card-1-date{
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(132, 136, 146, 1);
                        text-align: right;
                    }
                }
                & .card-1-desc{
                    max-width: 262px;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: right;
                    color: rgba(36, 46, 76, 1);
                    margin-bottom: 20px;
                }
                & .card-1-arrow{
                    position: absolute;
                    content: "";
                    top: 65px;
                    right: -10px;
                    rotate: 45deg;
                    height: 20px;
                    width: 20px;
                    background-color: #fff;
                }
            }
            & .card-2{
                position: relative;
                width: 385px;
                height: 148px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                padding: 6px 13px;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
                & .title-desc{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    & .card-2-title{
                        height: 32px;
                        padding: 5px;
                        background-color: #FCF3E3;
                        border-radius: 3px;
                        color: rgba(31, 31, 31, 1);
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & .card-2-date{
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(132, 136, 146, 1);
                        text-align: right;
                    }
                }
                & .card-2-desc{
                    max-width: 262px;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: right;
                    color: rgba(36, 46, 76, 1);
                    margin-bottom: 20px;
                }
                & .card-2-arrow{
                    position: absolute;
                    content: "";
                    top: 65px;
                    right: -10px;
                    rotate: 45deg;
                    height: 20px;
                    width: 20px;
                    background-color: #fff;
                }
            }
        }
        & .column-line{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 4px solid #848892;
            height: 760px;
            margin-right: 25px;
            margin-left: 25px;
            & .line-point-1{
                position: absolute;
                content: "";
                top: 103px;
                right: -6px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #848892;
            }
            & .line-point-2{
                position: absolute;
                content: "";
                top: 284px;
                right: -6px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #848892;
            }
            & .line-point-3{
                position: absolute;
                content: "";
                bottom: 273px;
                right: -6px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #848892;
            }
            & .line-point-4{
                position: absolute;
                content: "";
                bottom: 94px;
                right: -6px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #848892;
            }
        }
        & .column-card-2{
            & .card-1{
                position: relative;
                width: 385px;
                height: 148px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: #fff;
                padding: 6px 13px;
                margin-top: 36px;
                margin-bottom: 220px;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
                & .title-desc{
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    & .card-2-title{
                        height: 32px;
                        padding: 6px 10px;
                        background-color: #FCF3E3;
                        border-radius: 3px;
                        color: rgba(31, 31, 31, 1);
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & .card-2-date{
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(132, 136, 146, 1);
                        text-align: right;
                    }
                }
                & .card-2-desc{
                    max-width: 262px;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    color: rgba(36, 46, 76, 1);
                    margin-bottom: 20px;
                }
                & .card-1-arrow{
                    position: absolute;
                    content: "";
                    top: 65px;
                    left: -10px;
                    rotate: 45deg;
                    height: 20px;
                    width: 20px;
                    background-color: #fff;
                }
            }
            & .card-2{
                position: relative;
                width: 385px;
                height: 148px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: #fff;
                padding: 6px 13px;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, .3);
                & .title-desc{
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    & .card-2-title{
                        height: 32px;
                        padding: 5px;
                        background-color: #FCF3E3;
                        border-radius: 3px;
                        color: rgba(31, 31, 31, 1);
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    & .card-2-date{
                        font-family: $font-openSans;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(132, 136, 146, 1);
                        text-align: right;
                    }
                }
                & .card-2-desc{
                    max-width: 262px;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    color: rgba(36, 46, 76, 1);
                    margin-bottom: 20px;
                }
                & .card-2-arrow{
                    position: absolute;
                    content: "";
                    top: 65px;
                    left: -10px;
                    rotate: 45deg;
                    height: 20px;
                    width: 20px;
                    background-color: #fff;
                }
            }
        }
        & .card-button{
            height: 19px;
            max-width: 130px;
            font-family: $font-openSans;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: rgba(31, 31, 31, 1);
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
    }
}